<nav class="navbar navbar-default">
         <ul class="nav navbar-nav" style="margin: 0px;">
        <li class="active"><a ui-sref="DisplayEvent.applicant" ng-click="setUserType('Applicant');">Applicant</a></li>
        <li ><a ui-sref="DisplayEvent.coApplicant" ng-click="setUserType('CoApplicant');">Co Applicant 1</a></li>
        <li><a href="#" ng-click="setUserType('CoApplicant');">Co Applicant 2</a></li>
        <li><a href="#" ng-click="setUserType('CoApplicant');">Co Applicant 3</a></li>
        <li><a href="#" ng-click="setUserType('CoApplicant');">Co Applicant 4</a></li>
        <li><a href="#" ng-click="setUserType('CoApplicant');">Co Applicant 5</a></li>
      </ul>
      <div id="tabDrop" class="btn  btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
        >>
    </div>
    <input type="button" class="btn btn btn-default" ng-show="!editmodeP" style="float: right;margin:10px 10px;" ng-click="editmodeP=true;sendNotification();" Value="Edit">
    <input type="button" class="btn btn btn-default" ng-show="editmodeP" style="float: right;margin:5px;" ng-click="editmodeP=false;" Value="Cancel">
    <input type="button" class="btn btn btn-default" ng-show="editmodeP" style="float: right;margin:5px;" Value="Save">

  </nav>
<!-- <a ui-sref="DisplayEvent.applicant">Applicant Details</a>
<a ui-sref="DisplayEvent.coApplicant">Co Applicant details</a> -->
<div class="container-fluid">
  <table class="table table responsive" id="myTable" style="margin-bottom: 0px;">
   <tr>
     <td class="col-sm-8 box1" style="vertical-align:middle;padding-top: 0px;">
      <a  tabindex="0"
      style="float: right;"
role="button" 
data-html="true" 
data-toggle="popover" 
data-placement="bottom" 
data-trigger="hover" 
title="<b>Field</b> - Confidence" 
data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
   
      <table class="table box-shadow--6dp" style="margin-bottom:0;">
        <tr><td style="font-weight:bold;">Name :</td><td class="tdValue">Kush Kumar Singh</td> 
            <td  style="font-weight:bold;">Gender* :</td><td ng-show="!editmodeP" class="tdValue">Male</td> 
            <td ng-show="editmodeP" class="tdValue">
              <input name="gender" type="text" class="form-control" ng-model="" pattern="[a-zA-Z]*"  required maxlength="10"> 
          </td>
        </tr>
        <tr><td style="font-weight:bold;">Date of Birth :</td><td class="tdValue">08/03/1969</td> 
            <td style="font-weight:bold;">PAN :</td><td class="tdValue">DYNPS2171E</td>   
        </tr>
        <tr><td  style="font-weight:bold;">Mother's Name* :</td>
          <td ng-show="!editmodeP" class="tdValue">Nitu Bihari Singh</td> 
          <td ng-show="editmodeP" class="tdValue">
            <input name="motherName" type="text" class="form-control" ng-model="" pattern="[a-zA-Z]*"  required maxlength="10"> 
        </td>

            <td style="font-weight:bold;">Father's/Spouse Name :</td><td class="tdValue">Chhail <span class="redColorText">Bihari</span> Singh</td> 
        </tr>
                        </table>
                        <a  class="underline" data-toggle="modal" data-target="#appFrmModal" style="cursor: pointer;">View More</a>
     </td>
     <td class="col-sm-4box" style="padding:4px 4px 4px 30px">
      <div class="objWrapper" >
        <object data="PDF/BHFL_AppForm.pdf#toolbar=0" id="dvPDF"  type="application/pdf"  height="145" width="397"   style="border:2px solid white;">
                      </object>
                    </div>
     </td>
   </tr>

  </table>
   
  </div>
</div>

<div ui-view></div>

   <!-- Modal POPUP-->
<div class="modal fade" id="appFrmModal" role="dialog">
  <div class="modal-dialog" style="width:100%">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
   
       <div class="modal-body col-sm-12">
        
         <div class="col-sm-5" >
          <div id="dvHolder" style="border:1px solid black;">
            <object data="PDF/BHFL_AppForm.pdf#toolbar=0"  type="application/pdf"  id="dvHolderObject" >
            </object>
          </div>
        
         </div>
         <div class="col-sm-7" id="dvAppFrm" style="height:490px;overflow:hidden;">
          <div id="dvApplicant" >
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Loan Details</h3>
                <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
              </div>
              <div class="panel-body">  
                <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
                <table class="table box-shadow--6dp">
                  <tr><td style="font-weight:bold;">Sourcing Channel Category :</td><td >Online</td> 
                    <td style="font-weight:bold;">Sourcing Branch ID</td><td >01124</td>   
                </tr>
                <tr><td style="font-weight:bold;">Sales Owner ID :</td><td >98346</td> 
                  <td style="font-weight:bold;">Eligibility Method</td><td >Pre Approved</td>   
              </tr>
              <tr><td style="font-weight:bold;">Loan Category :</td><td >LAP</td> 
                <td style="font-weight:bold;">Loan Type</td><td >VPL</td>   
            </tr>
            <tr><td style="font-weight:bold;">Loan Amount Requested :</td><td >LAP</td> 
              <td style="font-weight:bold;">Loan Tenor in months :</td><td >12</td>   
          </tr>
                </table></div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">End Use</h3>
                <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
              </div>
              <div class="panel-body">
                <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
                <table class="table box-shadow--6dp">
                <tr><td style="font-weight:bold;">End Use :</td><td >Business Expansion</td> 
                  <td style="font-weight:bold;"></td><td ></td>   
              </tr>
              </table></div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Applicant Details</h3>
                <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
              </div>
              <div class="panel-body"> 
                <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
                <table class="table box-shadow--6dp">
                  <tr><td style="font-weight:bold;">Customer Category :</td><td >Retail</td> 
                    <td style="font-weight:bold;">Salutation :</td><td >Dr</td>   
                </tr>
                <tr><td style="font-weight:bold;">First Name :</td><td >John</td> 
                  <td style="font-weight:bold;">Last Name :</td><td >Doe</td>   
              </tr>
              <tr><td style="font-weight:bold;">Date of Birth :</td><td >12/12/1992</td> 
                <td style="font-weight:bold;">PAN :</td><td >YHGJI0012K</td>   
            </tr>
            <tr><td style="font-weight:bold;">Gender :</td><td >Male</td> 
              <td style="font-weight:bold;">Marital Status :</td><td >Divorced</td>   
          </tr>
          <tr><td style="font-weight:bold;">Caste :</td><td >12/12/1992</td> 
            <td style="font-weight:bold;">Religion :</td><td >YHGJI0012K</td>   
        </tr>
        <tr><td style="font-weight:bold;">Customer Type :</td><td >Doctor</td> 
          <td style="font-weight:bold;">Father/Spouse Salutation :</td><td >Mr</td>   
      </tr>

      <tr><td style="font-weight:bold;">Father's/Spouse Name :</td><td >Chail Bihari Singh</td> 
        <td style="font-weight:bold;">Mother's Maiden Name :</td><td >Nitu Bihari Singh</td>   
    </tr>
    <tr><td style="font-weight:bold;">Type of Address :</td><td >Current</td> 
      <td style="font-weight:bold;">House/Building Number :</td><td >1301</td>   
  </tr>
  <tr><td style="font-weight:bold;">Street :</td><td >Baker street</td> 
    <td style="font-weight:bold;">City :</td><td >Mumbai</td>   
</tr>
<tr><td style="font-weight:bold;">State/Province :</td><td >Maharashtra</td> 
  <td style="font-weight:bold;">Country :</td><td >India</td>   
</tr>
<tr><td style="font-weight:bold;">PIN/ZIP Code :</td><td >400076</td> 
<td style="font-weight:bold;">Priority :</td><td >1</td>   
</tr>

                </table></div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Permanant Residence Address</h3>
                <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
              </div>
              <div class="panel-body">
                <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
                <table class="table box-shadow--6dp">
                  <tr><td style="font-weight:bold;">Type of Address :</td><td >Current</td> 
                    <td style="font-weight:bold;">House/Building Number :</td><td >1301</td>   
                </tr>
                <tr><td style="font-weight:bold;">Street :</td><td >Baker street</td> 
                  <td style="font-weight:bold;">City :</td><td >Mumbai</td>   
              </tr>
              <tr><td style="font-weight:bold;">State/Province :</td><td >Maharashtra</td> 
                <td style="font-weight:bold;">Country :</td><td >India</td>   
            </tr>
            <tr><td style="font-weight:bold;">PIN/ZIP Code :</td><td >400076</td> 
              <td style="font-weight:bold;">Priority :</td><td >1</td>   
          </tr>
                </table>
             
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Site/Factory/Office Address</h3>
                <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
              </div>
              <div class="panel-body"> 
                <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
                <table class="table box-shadow--6dp">
                  <tr><td style="font-weight:bold;">Type of Address :</td><td >Current</td> 
                    <td style="font-weight:bold;">House/Building Number :</td><td >1301</td>   
                </tr>
                <tr><td style="font-weight:bold;">Street :</td><td >Baker street</td> 
                  <td style="font-weight:bold;">City :</td><td >Mumbai</td>   
              </tr>
              <tr><td style="font-weight:bold;">State/Province :</td><td >Maharashtra</td> 
                <td style="font-weight:bold;">Country :</td><td >India</td>   
            </tr>
            <tr><td style="font-weight:bold;">PIN/ZIP Code :</td><td >400076</td> 
              <td style="font-weight:bold;">Priority :</td><td >1</td>   
          </tr>
                </table></div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Employment Details Applicant</h3>
                <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
              </div>
              <div class="panel-body">
                <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
                <table class="table box-shadow--6dp">
                  <tr><td style="font-weight:bold;"> Employer Id :</td><td >Nitu Bihari Singh</td> 
                    <td style="font-weight:bold;">Employment Type :</td><td >Chhail <span class="redColorText">Bihari</span> Singh</td> 
                </tr>
                <tr><td style="font-weight:bold;">Designation Code :</td><td >Nitu Bihari Singh</td> 
                  <td style="font-weight:bold;">Employment Start Date :</td><td >Chhail <span class="redColorText">Bihari</span> Singh</td> 
                </tr>
                </table>
               
              </div>
            </div>

          </div>
          <div id="dvCoApplicant" >
   <!-- Co Applicant Section -->
   <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Co-Applicant/Guarantor Details</h3>
      <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
    </div>
    <div class="panel-body"> 
      <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
      <table class="table box-shadow--6dp">
        <tr><td style="font-weight:bold;">Customer Category :</td><td >Retail</td> 
          <td style="font-weight:bold;">Salutation :</td><td >Dr</td>   
      </tr>
      <tr><td style="font-weight:bold;">First Name :</td><td >John</td> 
        <td style="font-weight:bold;">Last Name :</td><td >Doe</td>   
    </tr>
    <tr><td style="font-weight:bold;">Date of Birth :</td><td >12/12/1992</td> 
      <td style="font-weight:bold;">PAN :</td><td >YHGJI0012K</td>   
  </tr>
  <tr><td style="font-weight:bold;">Gender :</td><td >Male</td> 
    <td style="font-weight:bold;">Marital Status :</td><td >Divorced</td>   
</tr>
<tr><td style="font-weight:bold;">Caste :</td><td >12/12/1992</td> 
  <td style="font-weight:bold;">Religion :</td><td >YHGJI0012K</td>   
</tr>
<tr><td style="font-weight:bold;">Customer Type :</td><td >Doctor</td> 
<td style="font-weight:bold;">Father/Spouse Salutation :</td><td >Mr</td>   
</tr>

<tr><td style="font-weight:bold;">Father's/Spouse Name :</td><td >Chail Bihari Singh</td> 
<td style="font-weight:bold;">Mother's Maiden Name :</td><td >Nitu Bihari Singh</td>   
</tr>
<tr><td style="font-weight:bold;">Type of Address :</td><td >Current</td> 
<td style="font-weight:bold;">House/Building Number :</td><td >1301</td>   
</tr>
<tr><td style="font-weight:bold;">Street :</td><td >Baker street</td> 
<td style="font-weight:bold;">City :</td><td >Mumbai</td>   
</tr>
<tr><td style="font-weight:bold;">State/Province :</td><td >Maharashtra</td> 
<td style="font-weight:bold;">Country :</td><td >India</td>   
</tr>
<tr><td style="font-weight:bold;">PIN/ZIP Code :</td><td >400076</td> 
<td style="font-weight:bold;">Priority :</td><td >1</td>   
</tr>

      </table></div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Permanant Residence Address</h3>
      <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
    </div>
    <div class="panel-body">
      <a  tabindex="0"
                style="float: right;"
   role="button" 
   data-html="true" 
   data-toggle="popover" 
   data-placement="bottom" 
   data-trigger="hover" 
   title="<b>Field</b> - Confidence" 
   data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            
      <table class="table box-shadow--6dp">
        <tr><td style="font-weight:bold;">Type of Address :</td><td >Current</td> 
          <td style="font-weight:bold;">House/Building Number :</td><td >1301</td>   
      </tr>
      <tr><td style="font-weight:bold;">Street :</td><td >Baker street</td> 
        <td style="font-weight:bold;">City :</td><td >Mumbai</td>   
    </tr>
    <tr><td style="font-weight:bold;">State/Province :</td><td >Maharashtra</td> 
      <td style="font-weight:bold;">Country :</td><td >India</td>   
  </tr>
  <tr><td style="font-weight:bold;">PIN/ZIP Code :</td><td >400076</td> 
    <td style="font-weight:bold;">Priority :</td><td >1</td>   
</tr>
      </table>
   
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Site/Factory/Office Address</h3>
      <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
    </div>
    <div class="panel-body"> 
      <a  tabindex="0"
      style="float: right;"
role="button" 
data-html="true" 
data-toggle="popover" 
data-placement="left" 
data-trigger="hover" 
title="<b>Field</b> - Confidence" 
data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
  
      <table class="table box-shadow--6dp">
        <tr><td style="font-weight:bold;">Type of Address :</td><td >Current</td> 
          <td style="font-weight:bold;">House/Building Number :</td><td >1301</td>   
      </tr>
      <tr><td style="font-weight:bold;">Street :</td><td >Baker street</td> 
        <td style="font-weight:bold;">City :</td><td >Mumbai</td>   
    </tr>
    <tr><td style="font-weight:bold;">State/Province :</td><td >Maharashtra</td> 
      <td style="font-weight:bold;">Country :</td><td >India</td>   
  </tr>
  <tr><td style="font-weight:bold;">PIN/ZIP Code :</td><td >400076</td> 
    <td style="font-weight:bold;">Priority :</td><td >1</td>   
</tr>
      </table></div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Co-Applicant Employment Details </h3>
      <span class="pull-right clickable"><i class="fas fa-chevron-circle-up"></i></span>
    </div>
    <div class="panel-body">
      <a  tabindex="0"
      style="float: right;"
role="button" 
data-html="true" 
data-toggle="popover" 
data-placement="left" 
data-trigger="hover" 
title="<b>Field</b> - Confidence" 
data-content="<div class='titleCls'>Name   -  <b> 100%</b></div> <div class='titleCls'>Date of Birth    -  <b> 100%</b></div><div class='titleCls'>Mother's Name    -  <b> 100%</b></div><div class='titleCls'>Father's Name   -   <b>100%</b></div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
  
      <table class="table box-shadow--6dp">
        <tr><td style="font-weight:bold;"> Employer Id :</td><td >Nitu Bihari Singh</td> 
          <td style="font-weight:bold;">Employment Type :</td><td >Chhail <span class="redColorText">Bihari</span> Singh</td> 
      </tr>
      <tr><td style="font-weight:bold;">Designation Code :</td><td >Nitu Bihari Singh</td> 
        <td style="font-weight:bold;">Employment Start Date :</td><td >Chhail <span class="redColorText">Bihari</span> Singh</td> 
      </tr>
      </table>
     
    </div>
  </div>
          </div>
                         
    </div>
       </div>
     
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>
    
  </div>
</div>
