<div class="container-fluid"  id="tblWorklist" style="padding-top:100px;padding-left:40px;">
    
        <!-- <table class="table table-bordered">
          <tr class="header">
            <td colspan="2">Header 1</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr class="header">
            <td colspan="2">Header 2</td>
          </tr>
          <tr>
            <td>date</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr class="header">
            <td colspan="2">Header 3</td>
          </tr>
          <tr>
            <td>date</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr class="header">
            <td colspan="2">Header 4</td>
          </tr>
          <tr>
            <td>date</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <td>data</td>
            <td>data</td>
          </tr>
        </table> -->
        <!-- <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Lan Case ID</th>
                  <th>PAN</th>
                  <th>Enrollment Date</th>
                 
                  <th>Status</th>
                  <th></th>
                </tr> 
              </thead>
              <tbody>
                <tr data-toggle="collapse" id="row1" data-target=".row1">
                  <td>1</td>
                  <td>Req_1201</td>  
                  <td>DRFD67D52</td>
                  <td>14 Jan 2020</td>
                 
                  <td><button class="btn-default btn-sm">View More</button></td>
                </tr>
                <tr class="collapse row1">
                  
                 <td colspan="5">
                  <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul>
                 </td> 
                  
                  
                </tr>
                <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td>DRFD67D52</td>
                  <td>18 Feb 2020</td>
                 
                  <td><button class="btn-default btn-sm">View More</button></td>
                </tr>
                <tr class="collapse row2">
                  <td colspan="5">
                    <ul class="list-unstyled multi-steps">
                      <li>Start</li>
                      <li>First Step</li>
                      <li class="is-active">Middle Stage</li>
                      <li>Finish</li>
                    </ul>

                  </td>
                
                </tr>
                <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td>DRFD67D52</td>
                  <td>18 Feb 2020</td>
                 
                  <td><button class="btn-default btn-sm">View More</button></td>
                </tr>
                <tr class="collapse row2">
                  <td colspan="5">
                    <ul class="list-unstyled multi-steps">
                      <li>Start</li>
                      <li>First Step</li>
                      <li class="is-active">Middle Stage</li>
                      <li>Finish</li>
                    </ul>

                  </td>
                
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->


        <!-- <div class="col-sm-12"> 
              <div class="panel panel-default">
                <div class="panel-heading"></div>
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>             
                  <th colspan="3">Status</th>
                
                </tr> 
              </thead>
              <tbody>
                <tr data-toggle="collapse" id="row1" data-target=".row1">
                  <td>1</td>
                  <td>Req_1201</td>  
                  <td colspan="3"> <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul></td>
                 
                 
                </tr>
                <tr class="collapse row1">
                  
                  
                  
                </tr>
                <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td colspan="3"> <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul></td>
                  
                 
           
                </tr>
                <tr class="collapse row2">
                 
                </tr>
                <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td colspan="3"> <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul></td>
                  
                 
           
                </tr>
                <tr class="collapse row2">
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>  -->

 <div class="col-sm-12"> 
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Lan Case ID</th>
                  
                 
                  <th colspan="4">Status</th>
                  
                </tr> 
              </thead>
              <tbody>
                <tr data-toggle="collapse" id="row1" data-target=".row1">
                  <td>1</td>
                  <td>Req_1201</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span> Step 1 <br>Documents uploaded successfully<br> Status: Completed</span> </div>
                    <div class="step current"> <span>Step 2<br>Documents scanned successfully<br> Status: Partially Completed</span> </div>
                    <div class="step "> <span> Step 3 <br>Documents extraction in progress<br> Status: Not Started</span> </div>
                    <div class="step"> <span>Step 4 <br>Documents extraction Display <br> Status: Not Started</span> </div>
                </div></td>
                
                 
                  
                </tr>
                <tr class="collapse row1">
                  
                 <td colspan="5">
                
                 </td> 
                  
                  
                </tr>
                <tr data-toggle="collapse" id="row1" data-target=".row1">
                  <td>1</td>
                  <td>Req_1202</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step current"> <span> Step 1</span> </div>
                    <div class="step"> <span>Step 2 some words</span> </div>
                    <div class="step"> <span> Step 3</span> </div>
                    <div class="step"> <span>Step 4</span> </div>
                </div></td>
                
                 
                  
                </tr>
                <tr class="collapse row1">
                  
                 <td colspan="5">
                
                 </td> 
                  
                  
                </tr>
                <tr data-toggle="collapse" id="row1" data-target=".row1">
                  <td>1</td>
                  <td>Req_1203</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span> Step 1</span> </div>
                    <div class="step current"> <span>Step 2</span> </div>
                    <div class="step"> <span> Step 3</span> </div>
                    <div class="step"> <span>Step 4</span> </div>
                </div>
                <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                  <div class="step1 current" style="width:min-content"> <span><b>Step 1</b>  <br>Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                    <div class="step1" style="width:min-content"> <span><b>Step 2</b><br>Documents scanned successfully<br> <b>Status:</b> In Progress</span> </div>
                    <div class="step1" style="width:min-content"> <span> <b>Step 3</b> <br>Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                    <div class="step1" style="width:min-content"> <span><b>Step 4</b> <br>Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
              </div>
              </td>
                
                 
                  
                </tr>
                <tr class="collapse row1">
                  
                 <td colspan="5">
                
                 </td> 
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div> 

           
</div>