<script>
  //  $("#dvCoAppData").slimScroll({
  //         height: '220px',
  //         alwaysVisible: true,
  //         railOpacity: 0.1,
  //         railVisible: true,
  //         start: 'top'   
  //       });
</script>

<div style="padding-top:40px;padding-left:40px;">
<div class="container-fluid"  id="tblWorklist" >
    <!-- <div class="panel panel-default">
                <div class="panel-heading"></div>
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>             
                  <th colspan="3">Status</th>
                
                </tr> 
              </thead>
              <tbody>
                <tr data-toggle="collapse" id="row1" data-target=".row1">
                  <td>1</td>
                  <td>Req_1201</td>  
                  <td colspan="3"> <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul></td>
                 
                 
                </tr>
                <tr class="collapse row1">
                  
                  
                  
                </tr>
                <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td colspan="3"> <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul></td>
                  
                 
           
                </tr>
                <tr class="collapse row2">
                 
                </tr>
                <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td colspan="3"> <ul class="list-unstyled multi-steps">
                    <li>Start</li>
                    <li>First Step</li>
                    <li class="is-active">Middle Stage</li>
                    <li>Finish</li>
                  </ul></td>
                  
                 
           
                </tr>
                <tr class="collapse row2">
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>  -->
     <div class="btn btn-default" style="float: right;margin:10px;"> Refresh Worklist</div>
        <div  class="btn btn-default" style="float: right;margin:10px;" ng-click="moveBack();" data-toggle="modal" data-target="#createNewModal">Create Request</div>

 <div class="col-sm-12"> 
          <div class="panel panel-default">
    
            <table id= "table-id" class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th style="text-align: center;">#</th>
                  <th style="text-align: center;">LAN ID</th>
                  
                 
                  <th colspan="4" style="text-align: center;">Loan Process Application Status</th>
                  
                </tr> 
              </thead>
              <tbody>
           
                <tr >
                  <td>1</td>
                  <td>Req_1201</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span>Upload Document</span> </div>
                    <div class="step "> <span>Document Classification</span></div>
                    <div class="step"> <span>Field Extraction</span> </div>
                    <div class="step"> <span>DB Upload</span> </div>
                    <div class="step current"> <span>Ready for Verification</span> </div>
                </div>
           
              
                
              </td>
              <td><div ng-click="moveNext();" data-toggle="modal" data-target="#createNewModal" class="i_Worklist"><i  class="fas fa-edit"></i></div></td>
                 <td data-toggle="collapse" id="row1" data-target=".row1">  <div class="i_Worklist" ><i onclick="ChangeClass(this);" class="fas fa-chevron-circle-down"></i></div></td>
                  
                </tr>
                <tr class="collapse row1" id="test">
                  <td> &nbsp; </td>
                  <td  style="vertical-align: inherit;color:green;">PanCard.pdf</td>
                    
                 <td colspan="4">
                  <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                    <div class="step1 " style="width:min-content"> <span> Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>Documents scanned successfully<br> <b>Status:</b> In Progress</span> </div>
                      <div class="step1" style="width:min-content; "> <span>  Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
               
                    </div>
                 </td> 
                  
                </tr>


                <tr >
                  <td>2</td>
                  <td>Req_1202</td>  
                  <td colspan="3" >  <div class="arrow-steps clearfix">
                    <div class="step "> <span>Upload Document</span> </div>
                    <div class="step current"> <span>Document Classification</span></div>
                    <div class="step"> <span>Field Extraction</span> </div>
                    <div class="step"> <span>DB Upload</span> </div>
                    <div class="step"> <span>Ready for Verification</span> </div>
                </div>
               
              </td>
              <td><div ng-click="moveNext();" data-toggle="modal" data-target="#createNewModal" class="i_Worklist"><i  class="fas fa-edit"></i></div></td>
              <!-- <td><div class="i_Worklist"><i class="fas fa-edit"></i></div></td> -->
                 <td data-toggle="collapse" id="row2" data-target=".row2">  <div class="i_Worklist" ><i onclick="ChangeClass(this);" class="fas fa-chevron-circle-down"></i></div></td>
               
                 
                  
                </tr>
                <tr class="collapse row2">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>  
                 <td colspan="4">
                  <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                    <div class="step1 " style="width:min-content"> <span>  Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents scanned successfully<br> <b>Status:</b> In Progress</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
               
                    </div>
                 </td> 
                  
                  
                  
                </tr>
               
               
                <tr >
                  <td>3</td>
                  <td>Req_1203</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span>Upload Document</span> </div>
                    <div class="step "> <span>Document Classification</span></div>
                    <div class="step"> <span>Field Extraction</span> </div>
                    <div class="step current"> <span>DB Upload</span> </div>
                    <div class="step"> <span>Ready for Verification</span> </div>

                </div>
              
              </td>
              <!-- <td><div class="i_Worklist"><i class="fas fa-edit"></i></div></td> -->
              <td><div ng-click="moveNext();" data-toggle="modal" data-target="#createNewModal" class="i_Worklist"><i  class="fas fa-edit"></i></div></td>

              <td data-toggle="collapse" id="row3" data-target=".row3">  <div class="i_Worklist" ><i onclick="ChangeClass(this);"  class="fas fa-chevron-circle-down"></i></div></td>

                 
                  
                </tr>
                <tr class="collapse row3">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>  
                 <td colspan="4">
                  <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                    <div class="step1" style="width:min-content"> <span>  Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents scanned successfully<br> <b>Status:</b> In Progress</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
               
                    </div>
                 </td> 
                  
                  
                  
                </tr>


                <tr >
                  <td>4</td>
                  <td>Req_1204</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span>Upload Document</span> </div>
                    <div class="step current"> <span>Document Classification</span></div>
                    <div class="step"> <span>Field Extraction</span> </div>
                    <div class="step"> <span>DB Upload</span> </div>
                    <div class="step"> <span>Ready for Verification</span> </div>
                </div>
             
               
              </td>
              <!-- <td><div class="i_Worklist"><i class="fas fa-edit"></i></div></td> -->
              <td><div ng-click="moveNext();" data-toggle="modal" data-target="#createNewModal" class="i_Worklist"><i  class="fas fa-edit"></i></div></td>

              <td data-toggle="collapse" id="row4" data-target=".row4">  <div class="i_Worklist" ><i onclick="ChangeClass(this);"  class="fas fa-chevron-circle-down"></i></div></td>

                 
                  
                </tr>
                <tr class="collapse row4">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>  
                 <td colspan="4">
                  <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                    <div class="step1 " style="width:min-content"> <span>  Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents scanned successfully<br> <b>Status:</b> In Progress</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
               
                    </div>
                 </td> 
                  
                  
                  
                </tr>


                <tr >
                  <td>5</td>
                  <td>Req_1205</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span>Upload Document</span> </div>
                    <div class="step "> <span>Document Classification</span></div>
                    <div class="step current"> <span>Field Extraction</span> </div>
                    <div class="step"> <span>DB Upload</span> </div>
                    <div class="step "> <span>Ready for Verification</span> </div>

                </div>
               
              </td>
              <!-- <td><div class="i_Worklist"><i class="fas fa-edit"></i></div></td> -->
              <td><div ng-click="moveNext();" data-toggle="modal" data-target="#createNewModal" class="i_Worklist"><i  class="fas fa-edit"></i></div></td>

              <td data-toggle="collapse" id="row5" data-target=".row5" aria-expanded="false">  <div class="i_Worklist"  ><i onclick="ChangeClass(this);"  class="fas fa-chevron-circle-down"></i></div></td>

                 
                  
                </tr>
                <tr class="collapse row5">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>  
                 <td colspan="4">
                  <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                    <div class="step1 " style="width:min-content"> <span>  Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents scanned successfully<br> <b>Status:</b> In Progress</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
               
                    </div>
                 </td> 
                  
                  
                </tr>

                <tr >
                  <td>5</td>
                  <td>Req_1205</td>  
                  <td colspan="3">  <div class="arrow-steps clearfix">
                    <div class="step "> <span>Upload Document</span> </div>
                    <div class="step "> <span>Document Classification</span></div>
                    <div class="step current"> <span>Field Extraction</span> </div>
                    <div class="step"> <span>DB Upload</span> </div>
                    <div class="step "> <span>Ready for Verification</span> </div>

                </div>
               
              </td>
              <!-- <td><div class="i_Worklist"><i class="fas fa-edit"></i></div></td> -->
              <td><div ng-click="moveNext();" data-toggle="modal" data-target="#createNewModal" class="i_Worklist"><i  class="fas fa-edit"></i></div></td>

              <td data-toggle="collapse" id="row6" data-target=".row6" aria-expanded="false">  <div class="i_Worklist"  ><i onclick="ChangeClass(this);"  class="fas fa-chevron-circle-down"></i></div></td>

                 
                  
                </tr>
                <tr class="collapse row6">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>  
                 <td colspan="4">
                  <div class="arrow-steps1 clearfix" style="margin-top:5px;">
                    <div class="step1 " style="width:min-content"> <span>  Documents uploaded successfully<br> <b>Status:</b> Completed</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents scanned successfully<br> <b>Status:</b> Error <a  tabindex="0"
      role="button" 
      data-html="true" 
      data-toggle="popover" 
      data-placement="bottom" 
      data-trigger="hover" 
      title="<div>Error Details</div>" 
      data-content="<div>Error Occurred while processing Data.<div>"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                 
 </span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction in progress<br><b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content;background-color: white;"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
                      <div class="step1" style="width:min-content"> <span>  Documents extraction Display <br> <b>Status:</b> Not Started</span> </div>
               
                    </div>
                 </td> 
                  
                  
                </tr>
              </tbody>
            </table>
          </div>

    <!--		Start Pagination -->
    <div class='pagination-container' >
      <nav>
        <ul class="pagination">
          
          <li data-page="prev" >
                   <span> < <span class="sr-only">(current)</span></span>
                  </li>
         <!--	Here the JS Function Will Add the Rows -->
      <li data-page="next" id="prev">
                     <span> > <span class="sr-only">(current)</span></span>
                  </li>
        </ul>
      </nav>
    </div>

</div> 

 </div> 
</div>


   <!-- Modal POPUP-->
   <div class="modal fade" id="createNewModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="margin-top:60px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
     
         <div class="modal-body">
          <div class="row" ng-if="validate==true">
            <div class="panel panel-info" style="margin:20px;">
              <div class="panel-heading">
                <h3 class="panel-title">Validate PAN</h3>
               
              </div>
              <div class="panel-body">  
              <!-- <input type="text" class="form-control" placeholder="Enter PAN Number">
              <input type="button" class="btn btn-default" Value="Validate" style="margin:10px;"> -->
              <div class="form-group">
                <label for="fileName">Enter Applicant PAN Number</label>
                <div class="input-group">
                  <input type="text" id="panNumber" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" class="form-control" >
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="">Validate</button>
                  </span>
                </div>
              </div>
              <div >
                <label >Enter Co-Applicant PAN Number (If any)   <i data-toggle="collapse" data-target="#dvCoAppData"  class="fas fa-plus-square"></i>
                </label>
              <div id="dvCoAppData" class="collapse" style="overflow-y:scroll;">
                <ul class="list-group " >
                  <li class="list-group-item" data-ng-repeat="choice in choices">
                    <div style="display: inline-block;">
                      <input class="form-control" type="text" ng-model="choice.value" name="" placeholder="Enter PAN Number">

                    </div>
                    <div style="display: inline;">
                      <button class="btn btn-danger" ng-click="removeChoice(choice.id)" ng-show="choice.id!=index">-</button>
                      <button class="btn btn-danger" ng-click="addNewChoice()" ng-show="choice.id===index">+</button>
                  
                    </div>
                   
                  </li>
                  <span class="input-group-btn" >
                    <button type="button" class="btn btn-primary" style="margin:10px;" ng-click="">Validate</button>
                  </span>
                </ul> 
              </div>
                 
                
              </div>
                  </div>
                 <div class="panel-footer">
                  <div style="color:grey;margin-left:95%;transform:scale(1.5)" ng-click="moveNext()"><i class="fas fa-arrow-right" ></i></div>
                 </div> 
            </div>
          </div>
          <div class="row" ng-if="validate==false">
            <div class="panel panel-info" style="margin:20px;">
              <div class="panel-heading">
                <h3 class="panel-title">Upload Documents</h3>
               
              </div>
              <div class="panel-body">  
                <form ng-model="file" my-file-upload>
                  <div class="form-group">
                    <label for="fileName">Select a file</label>
                    <div class="input-group">
                      <input type="text" id="fileName" class="form-control" readonly ng-model="fileName" ng-click="browse()">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="browse()">Browse</button>
                      </span>
                    </div>
                  </div>
          
                  <div>
                    <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
                    <button type="button" class="btn btn-primary" ng-click="upload()" ng-disabled="!file">Upload</button>
                  </div>
                </form>
              <!-- <input type="text" class="form-control" >
              <input type="button" class="btn btn-default" Value="Upload" style="margin:10px;"> -->
                  </div>
                  <!-- <div class="panel-footer">
                    <div style="color:grey;margin-left:95%;transform:scale(1.5)" ng-click="moveBack()"><i class="fas fa-arrow-left" ></i></div>
                   </div>  -->
            </div>
          </div>
         
      
         </div>
       
        <div class="modal-footer">
        
        </div>
      </div>
      
    </div>
  </div>
    


   
